<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<div>
 <p><%= @trainer.name %>'s pokemons: </p>
    <% @trainer.pokemons.each do |p| %>
<!--       <li>Level <%= p.level %> <%= p.name%> Health: <%= p.health%> -->
  <li>Level <%= p.level %> <%= p.name%> Health: <%= p.health%> Trainer_id: <%= p.trainer_id%> Id: <%= p.id%>
      <%= button_to "Damage!", damage_path(id: p), :class => "button medium", :method => :patch %><li>
    <% end %>
</div>