<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<div>
 <p>My pokemons: </p>
    <% @trainer.pokemons.each do |p| %>
	<li>Level <%= p.level %> <%= p.name%> Health: <%= p.health%>
	  <%= button_to "Damage!", damage_path(id: p), :class => "button medium", :method => :patch %><p>
    <% end %>
    <%= link_to "Create a new pokemon", pokemons_new_path %>
</div>