<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<div>
 <p><%= @trainer.name %>'s pokemons: </p>
    <% @trainer.pokemons.each do |p| %>
      <li>Level <%= p.level %> <%= p.name%></li>
    <% end %>
</div>